.body__main{
    margin-top: 123px;
}
.main__dropdown{
    margin-top: 114px;
}

.dropdown__select{
    margin-left: 39px;
}


@media screen and (max-width: 600px) {
    .body__main{
        margin-top: 64px;
    }
    .main__dropdown{
        margin-top: 64px;
    }
    .dropdown__select{
        margin-left: 0px;
        margin-top: 29px;
    }
}