
.study{
    letter-spacing: 0.5em;
    line-height: 24px;
}

.platform__description{
    margin-top: 130px;
}

.main__sections{
    margin-top: 135px;
}

@media screen and (max-width: 600px) {
    .extra-top-margin--phone{
        margin-top: 4rem;
    }
}