.main__contact-form{
    margin-top: 8rem;
}



.button--input{
    max-width: 33%;
    padding: 8px 0px;
}

svg{
    fill: #7B7B7B;
}


@media screen and (max-width:600px) {
    .body__main{
        margin-top: 64px;
    }
    .extra-top-margin--phone{
        margin-top: 3rem;
    }
    .main__row--3{
        margin-top: 4rem;
    }
}